.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.title-cv{
  img{
    width: 24px;
  }
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.img-poject {
  width: 20%;
}

body {
  font-family: "Roboto", sans-serif;
  
  font-style: normal;
}


.header {
  display: flex;
  justify-content: space-between;
  padding-right: 2%;
  padding-left: 2%;
  align-items: center;
  background-color: beige;
}

.header .h1:hover {
text-decoration: underline;
background-color: aqua;
}

.id_photo{
  width: 140px;
  height: 140px;
}
.main-cv{
  display: flex;
  width: 100%;
font-weight: 500;
}
.banner-body{
  font-size: 12px;
  display: flex;
  margin-top: 1%;
  width: 100%;
  .banner{
    display: flex;
    flex-direction: column;
    background-color: rgb(96, 103, 120);
    font-size: 15px;
    font-weight: 500;
    color: #d2c6b5;
    
      .photo{
        align-self: center;
      }
      .nom{
        display: flex;
        justify-content: center;
        h3{
          color: rgb(235, 221, 172);
        }
        span{
          margin-bottom: 1%;
        }
      }
      .info{
        h3{
          align-self: center;
          color: rgb(235, 221, 172);
        }
        span{
          margin-bottom: 1%;
        }
      }
      .courses{
        h3{
          align-self: center;
          color: rgb(235, 221, 172);
          span{
            margin-bottom: 1%;
          }
        }
      }
      .languages{
        h3{
          align-self: center;
          color: rgb(235, 221, 172);
        }
        span{
          margin-bottom: 1%;
        }
      }
  }
  .core{
    display: flex;
    flex-direction: column;
    padding: 0px 10px 0px 10px;
    background-color: #FCFBF4;
    width: 100%;
    .skills-and-soft{
      display: flex;
      flex-direction: row;
      justify-content: space-around;
    .skills{
      display: flex;
      flex-direction: column;

      .skill{
        display: flex;
        flex-direction: column;
        .skill-title{
          font-weight: 500;

        }
        .skill-name{

        }
      }
    }
  }

    .softs{
      display: flex;
        flex-direction: column;
    }

    .experience{
      display: flex;
      flex-direction: column;
      align-items: center;
      .title-exp {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      .tech{
        display: flex;
        flex-direction: column;
        margin: 0px 5px 0px 5px;
            align-items: center;
        .title-tech{
          font-weight: 500;
          margin-bottom: 5px;
          margin-top: 5px;
        }
        span{
          font-size: 12px;
        }
        .title-tech-deux{
          display: flex;
          flex-direction: row;
        }
      }
      .poste{
        display: flex;
        flex-direction: row;
      }
    }
    .experience-deux{
      display: flex;
      flex-direction: column;
    }
  }
}



.title-job{
  align-self: center;
}
.info{
  display: flex;
  flex-direction: column;
}

.languages{
  display: flex;
  flex-direction: column;
}

.courses{
  display: flex;
  flex-direction: column;
}





.company{
  font-weight: 300;
}

.years{
  font-weight: 300;
}
